.item-template{
    min-height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.backLink{
    font-style: italic;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    justify-self: flex-start;
    align-self: flex-start;
}
   .item-group{
       width: 100%;

    padding-left: 20vh;
     display: flex;
     flex-direction: row;
     justify-content: center;
        align-content: center;
  }
.item-info{
    margin:2rem;
            display: flex;
            flex-direction: column;
        }
.item-title{
    width: 100%;
    text-align: left;
    .price{
        color: rgb(190, 7, 7);
        font-size: 1.5rem;
        margin:2rem;
    }
    }

    
    img{width: 30rem;
        margin: 2rem;}

.item-dsc{
    width: 60%;
}
//------------------------------------max-width---1030px----------ipad--------------------------
@media screen and (max-width:1030px){
    .backLink{
        padding-left:5vh;
    }
    img{max-width: 35rem;
        align-self: center;
        justify-self: center;
        }
        .item-title{
            width: 100%;
            text-align: center;}
        .item-dsc{
            width: 90%;
        }
    .item-group{flex-wrap: wrap;
                margin: 0;
                padding: 0;
                text-align: center;
                }
}
//------------------------------------max-width---700px----------mobil--------------------------
@media screen and (max-width:700px){
    img{max-width: 15rem;
        align-self: center;
        justify-self: center;
        }
}