.item-template{
    min-height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.backLink{
    font-style: italic;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    justify-self: flex-start;
    align-self: flex-start;
    padding-left: 20vh;
}
   .item-group{
       width: 100%;

    padding-left: 20vh;
     display: flex;
     flex-direction: row;
  }
.item-info{
    margin:2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
.reviews-group{
    cursor:default;
        width: 9rem;
        display: flex;
        flex-direction: column;        
        align-items: center;
        margin-top:0.7rem;
        img{width: 9rem;
                margin: 0;
                padding: 0;
                }
        }
.item-title{
    width: 100%;
    text-align: left;
   
    }
    .addTo-group{
        max-width: 24rem;
        background-color: #f19f515d;
        padding: 10px;
        margin-top: 1.3rem;
        margin-bottom: 1.3rem;
        span{color:rgb(6, 158, 6)}
    }
    .addTo{display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin:1rem;
        
        select{
            margin-left: 15px;
            margin-right: 5px;
            padding:15px 15px;
            font-weight: bolder;
        }
        button{cursor: pointer;
                font-weight: bolder;
                padding:15px 20px;
                border:1px solid rgb(168, 80, 47);
                background-color: #ee9d52;}
                .p{
                    color: rgb(0, 0, 0);
                    font-size: 1.5rem;
                    margin:5px
                    
                }
    }
    
    
    img{width: 30rem;
        margin: 2rem;}

.item-dsc{
    width: 60%;
}
//------------------------------------max-width---1030px----------ipad--------------------------
@media screen and (max-width:1030px){
    .backLink{
        padding-left:5vh;
    }
    .item-info{ 
        justify-content: center;
        align-items: center;}
    img{max-width: 35rem;
        align-self: center;
        justify-self: center;
        }
        .item-title{
            width: 100%;
            text-align: center;}
        .item-dsc{
            width: 100%;
        }
    .item-group{flex-wrap: wrap;
                margin: 0;
                padding: 0;
                text-align: center;
                justify-content: center;
                align-items: center;
                }
}
//------------------------------------max-width---700px----------mobil--------------------------
@media screen and (max-width:700px){
    img{max-width: 12rem;
        align-self: center;
        justify-self: center;
        }
        .item-dsc{
            width: 100%;
        }
}